#background-canvas {
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.obfuscated {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #00000000;
    color: #ffffff;
}
